<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <style type="text/css">
    /* latin-ext */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    body {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      -webkit-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
      -webkit-font-smoothing: antialiased !important;
    }

    p,
    h1,
    h2,
    ul,
    ol,
    li,
    div {
      margin: 0;
      padding: 0;
    }

    @media only screen and (max-width: 480px) {

      table[class="MainContainer"],
      td[class="cell"] {
        width: 100% !important;
        height: auto !important;
      }

      td[class="specbundle"] {
        width: 100% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 15px !important;
      }

      td[class="specbundle2"] {
        width: 80% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 10px !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
      }

      td[class="spechide"] {
        display: none !important;
      }

      img[class="banner"] {
        width: 100% !important;
        height: auto !important;
      }

      td[class="left_pad"] {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }

    @media only screen and (max-width: 540px) {

      table[class="MainContainer"],
      td[class="cell"] {
        width: 100% !important;
        height: auto !important;
      }

      td[class="specbundle"] {
        width: 100% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 15px !important;
      }

      td[class="specbundle2"] {
        width: 80% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 10px !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
      }

      td[class="spechide"] {
        display: none !important;
      }

      img[class="banner"] {
        width: 100% !important;
        height: auto !important;
      }

      td[class="left_pad"] {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }

    td,
    table {
      vertical-align: top;
    }

    td.middle {
      vertical-align: middle;
    }
  </style>

  <script type="colorScheme" class="swatch active">
          {
          "name":"Default",
          "bgBody":"ffffff",
          "link":"27A1E5",
          "color":"AAAAAA",
          "bgItem":"ffffff",
          "title":"444444"
      }
    </script>
</head>

<body paddingwidth="0" paddingheight="0"
  style="background: #f5f5f7;padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
  offset="0" toppadding="0" leftpadding="0">
  <table style="background: #f5f5f7;" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff"
            style="font-family:helvetica, sans-serif;border-bottom: 5px solid #075065;border-left: 1px solid #075065;border-top: 1px solid #075065;border-right: 1px solid #075065;border-top-left-radius: 20px;border-top-right-radius: 20px;"
            class="MainContainer">
            <tbody>
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td valign="top" width="20">&nbsp;</td>
                        <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td class="movableContentContainer">
                                  <div class="movableContent"
                                    style="border: 0px; padding-top: 0px; position: relative;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td height="15"></td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td align="center" valign="top" width="60">
                                                            <a style="text-align: left;font-weight: bold; color:#555555;font-size:26px;line-height: 39px;"
                                                              target="_blank" href="https://paymate.in"
                                                              style="color:#444444"><img
                                                                src="https://z2p-public-data.s3.ap-south-1.amazonaws.com/tBoard/MailImages/logo.png"
                                                                height="40" data-max-width="100" /></a>

                                                          </td>

                                                          <td valign="middle" style="vertical-align: middle;">

                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                  <td valign="top" width="90" class="spechide">
                                                    &nbsp;
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="15"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!-- =============== END HEADER =============== -->
                                  <!-- =============== START BODY =============== -->

                                  <div class="movableContent"
                                    style="border: 0px; padding-top: 0px; position: relative;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td height="10">

                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <div align="center" class="contentEditableContainer contentImageEditable">
                                              <div class="contentEditable" style="text-align: center;
                                                  padding: 5% 5% 0% 5%;
                                                  border-top-right-radius: 20px;
                                                  border-top-left-radius: 20px;
                                                  font-family: 'Lato', sans-serif !important;">
                                                <img
                                                  src="https://z2p-public-data.s3.ap-south-1.amazonaws.com/tBoard/MailImages/bell.png" />
                                                <p
                                                  style="letter-spacing: 1px;word-spacing: 5px;font-size: 1rem;font-weight: 800;margin-top: 5%;">
                                                  Hi {{name}},
                                                </p>
                                                <p
                                                  style="letter-spacing: 1px;word-spacing: 5px;font-size: 1rem;font-weight: 800;margin-top: 5%;">
                                                  The following tasks from your {{departmentName}} department have been
                                                  running overdue. Kindly take actions.
                                                </p>
                                              </div>

                                              <div class="contentEditable" style="text-align: left;
                                                  padding: 5% 5% 0% 5%;
                                                  border-top-right-radius: 20px;
                                                  border-top-left-radius: 20px;
                                                  font-family: 'Lato', sans-serif !important;">

                                                {{#each tasks}}
                                                <ol>
                                                  <li>
                                                    <p
                                                      style="letter-spacing: 1px;word-spacing: 5px;font-size: 1rem;font-weight: 800;margin-top: 5%;">
                                                      {{this.taskTitle}} {{this.targetDate}} {{this.createdByName}}
                                                    </p>
                                                  </li>
                                                </ol>
                                                {{/each}}
                                              </div>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!--===============END BODY===============-->
                                  <!-- =============== START FOOTER =============== -->

                                  <div class="movableContent"
                                    style="border: 0px; padding-top: 0px; position: relative;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td height="60"></td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" align="center">
                                                      <tr>
                                                        <td>
                                                          <div class="contentEditableContainer contentTextEditable">
                                                            <hr />
                                                            <br />
                                                            <div align="center">
                                                              <a target="_blank"
                                                                href="https://business.facebook.com/paymate/?business_id=1908642652492952"><img
                                                                  src="https://z2p-public-data.s3.ap-south-1.amazonaws.com/tBoard/MailImages/facebook.png" /></a>
                                                              <a target="_blank"
                                                                href="https://twitter.com/PayMate_IN/"><img
                                                                  src="https://z2p-public-data.s3.ap-south-1.amazonaws.com/tBoard/MailImages/twitter.png" /></a>
                                                              <a target="_blank"
                                                                href="https://www.linkedin.com/company/paymate/?originalSubdomain=in"><img
                                                                  src="https://z2p-public-data.s3.ap-south-1.amazonaws.com/tBoard/MailImages/linkedin.png" /></a>
                                                            </div>
                                                            <br />
                                                            <div align="center">
                                                              <i>
                                                                <p style="font-size: 13px;">Copyright © 2019, PayMate
                                                                  India Pvt. Ltd., All rights reserved.</p>
                                                              </i>
                                                            </div>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="48"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td valign="top" width="20">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>